
<div id="content">
  <div>
    <article role="article" class="hentry">
      <header>
        <h1 ng-bind="::blog.title" class="entry-title"></h1>
        <p class="meta">
          <time ng-bind="::blog.updated_at" class="entry-date"></time>
        </p>
      </header>
      <div ng-bind-html="::body|htmlSafe" class="entry-content"></div>
      <footer>
        <p class="meta"><span class="byline author vcard">Authored by <span ng-bind="::blog.user.login" class="fn"></span></span>
          <time ng-bind="::blog.updated_at|date:'MMM dd, yyyy hh:mm'" class="entry-date"></time>
        </p>
        <p class="meta"><a ui-sref="blog({id:next.id})" title="Next Post: {{::next.title}}" ng-bind="::next.title" class="basic-alignment right"></a></p>
      </footer>
    </article>
  </div>
</div>