
<div id="content">
  <div class="blog-index">
    <article ng-repeat="blog in blogs">
      <header>
        <h1 class="entry-title"><a ng-bind="::blog.title"></a></h1>
        <p class="meta">
          <time class="entry-date"><span ng-bind="::blog.created_at | date :'yyyy-MM-dd hh:mm'" class="date"></span></time>
        </p>
      </header>
      <div ng-bind-html="::blog.trim.html|htmlSafe" class="entry-content"></div>
      <footer ng-if="blog.trim.more"><a rel="full-article" ui-sref="blog({id:blog.id})">Read on →</a></footer>
    </article>
    <div class="pagination"><a ng-if="hasMore" ui-sref="blogs({page:page+1})" class="prev">← Older</a><a ui-sref="archives">Blog Archives</a><a ng-if="page>1" ui-sref="blogs({page:page-1})" class="next">Newer →</a></div>
  </div>
</div>