#content
	div
		article.hentry(role='article')
			header
				h1.entry-title(ng-bind='::blog.title')
				p.meta
					time.entry-date(ng-bind='::blog.updated_at')
			.entry-content(ng-bind-html='::body|htmlSafe')
			footer
				p.meta
					span.byline.author.vcard
						| Authored by 
						span.fn(ng-bind='::blog.user.login')
					time.entry-date(ng-bind="::blog.updated_at|date:'MMM dd, yyyy hh:mm'")
				p.meta
					a.basic-alignment.right(ui-sref='blog({id:next.id})', title='Next Post: {{::next.title}}', ng-bind='::next.title')
