doctype HTML
html(lang="en" ng-app="app")
	head
		title Hi I'm Sankooc
		meta(name="author" content="Sankooc")
		meta(name="description" content="blog")
		meta(name="MobileOptimized" content="320")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="canonical" href="http://sankooc.github.io")
		link(rel="icon" href="favicon.png")
		link(rel="stylesheet" href="dest/css/main.css" type="text/css")
		link(rel="stylesheet" href="dest/css/screen.css" type="text/css")
		link(rel="stylesheet" href="dest/vendor/angular-loading-bar/build/loading-bar.css" type="text/css")
	body.collapse-sidebar.sidebar-footer#top
		header(role="banner")
			hgroup
				h1
					a(ui-sref="blogs({page:1})") sankooc's DevLog
				h2 the developer
		nav(role="navigation")
			form(action="https://www.baidu.com/s" method="get")
				fieldset(role="search")
					input(type="hidden" name="sitesearch" value="sankooc.github.io")
					input.search(type="text" name="wd" results="0" placeholder="Search")		
			ul.main-navigation
				li
					a(ui-sref="blogs({page:1})") Blog
				li
					a(ui-sref="archives") Archives
				li
					a(href="https://github.com/sankooc") Github
		.view_content#main(ui-view)
		footer(role="contentinfo")
			p Copyright &copy; 2015 - Sankooc
		script(src="dest/vendor/jquery/dist/jquery.js")
		script(src="dest/vendor/angular/angular.js")
		script(src="dest/vendor/angular-ui-router/release/angular-ui-router.js")
		script(src="dest/vendor/angular-loading-bar/build/loading-bar.js")
		script(src="dest/vendor/underscore/underscore.js")
		script(src="dest/vendor/moment/moment.js")
		script(src="dest/vendor/gh3/gh3.js")
		script(src="dest/vendor/showdown/dist/showdown.js")
		script(src="dest/js/vendor.js")
		script(src="dest/js/app.js")
